<form [formGroup]="tableGroup">
    <span>{{numberId + 1}}</span>
    <select id="item" formControlName="item">
        <option>Урок отсутствует</option>
        <option>Русский язык</option>
        <option>Математика</option>
        <option>Английский язык</option>
    </select>
    <select id="teacher" formControlName="teacher">
        <option>Без учителя</option>
        <option>Учитель 1</option>
        <option>Учитель 2</option>
        <option>Учитель 3</option>
    </select>
    <input id="homework" formControlName="homework">
    <select id="rate" formControlName="rate">
        <option></option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</form>