.table {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid darkgray;
    height: 30px;
}
.Id { width: 50px; }
.Item { width: 202px; }
.Homework { width: 250px; }
.Rate { width: 102.5px; }
.Access { width: 200.6px; }
.Day { width: 120.6px; }
