<mat-button-toggle-group (click)="update()">
  <mat-button-toggle
    *ngFor="let day of days"
    (click)="setDay(day)"
    class="Day"
    value="day"
    routerLink="/{{day}}"
    >{{day}}</mat-button-toggle>
</mat-button-toggle-group>

<form>
  <ul>
    <li class="table Id">№</li>
    <li class="table Item">Дисциплина</li>
    <li class="table Homework">Домашнее задание</li>
    <li class="table Rate">Оценка</li>
  </ul>
  <worktable
    *ngFor="let i of idList"
    [id]="i"
    [day]="day"
    [access]="access"
  ></worktable>
</form>

<mat-button-toggle-group (click)="update()">
  <mat-button-toggle
    *ngFor="let access of accessList"
    (click)="setAccess(access)"
    class="Access">{{access}}
  </mat-button-toggle>
</mat-button-toggle-group>